@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: rgba(183, 255, 191, 0.5);
}

nav {
  background-color: #333;
  color: #fff;
  position: sticky;
}
nav .navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav div h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
nav ul li a:hover {
  background-color: #4caf50;
  border: 1px solid black;
  border-radius: 5px;
}
.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;

  background-color: rgba(183, 255, 191, 0.5);
  border-radius: 5px;
  box-shadow: 0 10px 10px black;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  border-bottom: 3px solid #4caf50;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

select.input-field {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

textarea.input-field {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  resize: vertical;
}

.btn {
  padding: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

/* ---------------------------------------------------------------------- */
.tab {
  display: none;
  flex-direction: column;
  width: 400px;
  border-radius: 5px;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #6acf5d;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}
#btnGroup {
  width: 450px;
  display: grid;
  margin-top: 10px;
}
#prevBtn {
  /* width: 100px; */
  justify-self: left;
  grid-row: 1;
}
#nextBtn {
  justify-self: right;
  /* width: 100px; */
  margin-right: 3rem;
  grid-row: 1;
}
