.logo {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #45a049;
}
nav {
  top: 0%;
  background-color: #333;
  color: #fff;
  position: sticky;
  z-index: 2;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav div h1 {
  margin: 0;
  font-size: 24px;
}

nav div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}
nav ul li a:hover {
  background-color: #4caf50;
  border: 1px solid black;
  border-radius: 5px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav div ul li a.active {
  background-color: #5ead62;
  border: 1px solid black;
  border-radius: 5px;
}
.container {
  margin-left: 20px;
  text-align: center;
}
