@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}

nav{
	background-color: #333;
	color: #fff;
	position: sticky;
}
nav .navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav div h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover{
    background-color: #4CAF50;
    border:1px solid black;
    border-radius: 5px;
   
}
h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    border-bottom: 3px solid #4CAF50;
}
.container {
	width:100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.tourna{
	display: flex;
    flex-direction: column;
	width: 200px;
    height: 100px;
    margin: 10px;
	border: 2px dotted blue;
	border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
	
}
label{
	font-size: 15px;
	font-style: bold;
}
table{
    border: 3px solid;
    --bs-border-color: #3c8fe1
    /* border-color:#5c89b5; */
}